<!DOCTYPE html>

<html>
	
	<head>
		
		<title>d&amp;d platform</title>

		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/dnd.css">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>
	
	<body>

		<div class="container" id=title>

		 <!-- messages -->
	      {% for message in get_flashed_messages() %}
	        {{ message }}
	    	</br>
	      {% endfor %}

		  <!-- child template -->
	      {% block content %}{% endblock %}

	      <!-- errors -->
	      {% if error %}
	        <p class="error"><strong>Error:</strong> {{ error }}</p>
	      {% endif %}

	    </div>

  		<script type="text/javascript" src="static/dnd.js"></script>
  </body>
  
</html>