{% extends "base.html" %}
{% block content %}

<img src="static/dice.png" style="width:250px;height:250px;float:left;"> 
<img src="static/dice.png" style="width:250px;height:250px;float:right;">

<div id="leftDice">
	<h2> Hello There - Dungeon Master </h2>
</div>

<div>
	<p class="small"> Welcome to the DM's Inn! </p>
</div>

<div>
	<button id="info" class="btn" style="font-size:30px;"> What can I do here? </button>
</div>

<div>
	<p class="small"> What would you like to do next? </p>
</div> 


<div>
	<form method="post">
		<input class="btn" type="submit" name="firstButton" value="Enter my page">
		<input class="btn" type="submit" name="firstButton" value="Create my User!">
	</form>
</div>

{% endblock %}

		