{% extends "base.html" %}
{% block content %}

<img src="static/dice.png" style="width:200px;height:200px;float:left;"> 
<img src="static/dice.png" style="width:200px;height:200px;float:right;">

<div id="leftDice">
	<h3> Hello There - Dungeon Master </h3>
</div>

<div>
	<p class="small"> Welcome to the DM's Inn! </p>
	<p class="small">  What would you like to do next?</p>
</div>

<div>
	<form method="post">
		<input class="btn" type="submit" name="firstButton" value="Enter my page">
		<input class="btn" type="submit" name="firstButton" value="Create my User!">
	</form>
</div>

{% endblock %}

		